

.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 330px;
    min-width: 550px;
  }
  
  h3 {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust as needed */
    margin: 0 auto;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  p {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end; /* Align button to the right */
  }
  
  .delete-btn {
    margin-left: 320px;

    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 70px;
  }
  
  .delete-btn:hover {
    background-color: darkred;
  }
  