<div class="div" style="padding: 0px; background-color: rgb(138, 205, 116);">
 
  <mat-card class="bottom-sheet-container transition">
    <div class="header" style="background-color: blue;">
    <h2>Manage Accounts</h2>
</div>


<div class="account-details">
  <div class="header">
    <div class="acc_no"><mat-label>Account Number</mat-label></div>
    <div class="bank_name"><mat-label>Bank</mat-label></div>
  </div>

  <div *ngFor="let account of bankDetails" class="repet-class">
    <div class="account-info">
      <div class="acc_no" style="color: rgb(7, 8, 8);">
        <mat-label>{{account.account_number}}</mat-label>
      </div>

      <div class="bank_name" style="color: rgb(7, 8, 8);">
        <mat-label>{{ account.bank_name }}</mat-label>
      </div>

      <div class="bank_name" style="color: rgb(7, 8, 8);">
        <p class="status-label" *ngIf="account.status === 'inactive' || account.is_primary === 'yes'">
          {{ account.status === 'inactive' ? 'Deactive' : 'Primary' }}
        </p>
      </div>

      <div class="action-icons">
        <i class="fa-solid fa-ban" (click)="openInactiveBottomSheet(account)" title="Deactivate"></i>
        <i class="fa-solid fa-pen-to-square" (click)="openEditBottomSheet(account)" title="Edit"></i>
      </div>
    </div>
  </div>
</div>



</mat-card>
  
    <div class="account-info">
      <p class="info-text">Deactivated Bank Accounts cannot be selected in any search results.</p>
      <p class="info-text">While making payment through cheque for Sales, Purchase, B2B Sales, Manage Expenses & PDC.</p>
    </div>
  
    <div class="account-options">
      <p>Having more accounts?</p>
      <button mat-raised-button color="primary" class="add-account-btn" (click)="openBottomSheetBankAccount()">Add New Account</button>
    </div>
  <!-- </mat-card> -->
  </div>



  